//
//  AppledocNil.xcconfig
//  AppleDocTargetTest
//
//  Created by Looker Jules on 22/11/2011.
//  Copyright (c) 2011 The Interface Works. All rights reserved.
//

// PATHS
APPLEDOC_OUTPUT=
APPLEDOC_TEMPLATES=
APPLEDOC_DOCSET_INSTALL_PATH=
APPLEDOC_INCLUDE=
APPLEDOC_IGNORE=
APPLEDOC_EXCLUDE_OUTPUT=
APPLEDOC_INDEX_DESC=

// PROJECT INFO
APPLEDOC_PROJECT_NAME=
APPLEDOC_PROJECT_VERSION=
APPLEDOC_PROJECT_COMPANY=
APPLEDOC_COMPANY_ID=

// OUTPUT GENERATION
APPLEDOC_CREATE_HTML=
APPLEDOC_CREATE_DOCSET=
APPLEDOC_INSTALL_DOCSET=
APPLEDOC_PUBLISH_DOCSET=
APPLEDOC_CLEAN_OUTPUT=

// OPTIONS
APPLEDOC_KEEP_INTERMEDIATE_FILES=
APPLEDOC_KEEP_UNDOCUMENTED_OBJECTS=
APPLEDOC_KEEP_UNDOCUMENTED_MEMBERS=
APPLEDOC_SEARCH_UNDOCUMENTED_DOC=
APPLEDOC_REPEAT_FIRST_PAR=
APPLEDOC_MERGE_CATEGORIES=
APPLEDOC_KEEP_MERGED_SECTIONS=
APPLEDOC_PREFIX_MERGED_SECTIONS=
APPLEDOC_EXPLICIT_CROSSREF=
APPLEDOC_CROSSREF_FORMAT=
APPLEDOC_EXIT_THRESHOLD=
APPLEDOC_PREPROCESS_HEADERDOC=

// WARNINGS
APPLEDOC_WARN_MISSING_OUTPUT_PATH=
APPLEDOC_WARN_MISSING_COMPANY_ID=
APPLEDOC_WARN_UNDOCUMENTED_OBJECT=
APPLEDOC_WARN_UNDOCUMENTED_MEMBER=
APPLEDOC_WARN_EMPTY_DESCRIPTION=
APPLEDOC_WARN_UNKNOWN_DIRECTIVE=
APPLEDOC_WARN_INVALID_CROSSREF=
APPLEDOC_WARN_MISSING_ARG=

// DOCUMENTATION SET INFO
APPLEDOC_DOCSET_BUNDLE_ID=
APPLEDOC_DOCSET_BUNDLE_NAME=
APPLEDOC_DOCSET_DESC=
APPLEDOC_DOCSET_COPYRIGHT=
APPLEDOC_DOCSET_FEED_NAME=
APPLEDOC_DOCSET_FEED_URL=
APPLEDOC_DOCSET_PACKAGE_URL=
APPLEDOC_DOCSET_FALLBACK_URL=
APPLEDOC_DOCSET_PUBLISHER_ID=
APPLEDOC_DOCSET_PUBLISHER_NAME=
APPLEDOC_DOCSET_MIN_XCODE_VERSION=
APPLEDOC_DOCSET_PLATFORM_FAMILY=
APPLEDOC_DOCSET_CERT_ISSUER=
APPLEDOC_DOCSET_CERT_SIGNER=
APPLEDOC_DOCSET_BUNDLE_FILENAME=
APPLEDOC_DOCSET_ATOM_FILENAME=
APPLEDOC_DOCSET_PACKAGE_FILENAME=

// MISCELLANEOUS
APPLEDOC_LOGFORMAT=
APPLEDOC_VERBOSE=
APPLEDOC_VERSION=
APPLEDOC_HELP=

// SOURCE DIRECTORIES OR FILES
APPLEDOC_SOURCE_DIRS=
